{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .logo-small {
        width: 200px; 
        height: auto;
    }
</style>

<section class="jumbotron text-center">
    <div class="container">
        <div class="img-container">
            <img src="{% static 'images/shopping-bag.png' %}" alt="Shopping Bag" class="img-fluid mx-auto d-block logo-small"> <!-- Aplica la clase aquí -->
        </div>
        <h1 class="jumbotron-heading"> Bienvenido a IPCmarket</h1>
        <p class="lead text-muted">Realiza tus compras en línea</p>
        <p>
            <a href="{% url 'login' %}" class="btn btn-dark my-2">Iniciar Sesión</a>
        </p>
    </div>
</section>

{% endblock content %}
