{% extends "baseAdmin.html" %}
{% load static %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">IPCmarket</h1>
      <p class="lead text-muted">-Productos-</p>
      <div class="img-container">
        <img src="{% static 'images/barcode-scan.png' %}" alt="Codigo de barras" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for prod in productos%}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow" style="width: 23rem;">
            <img class="card-img-top" style="width: 23rem; height: 20rem; " src="{{prod.imagen}}" alt="{{prod.nombre}}">
            <div class="card-body" style="height: 20rem;">
              <h6 class="card-subtitle mb-2 text-muted" style="height: 1rem;">{{prod.id}}</h6>
                <h5 class="card-title">{{prod.nombre}}</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="height: 2rem;">Q.{{prod.precio}}</h6>
              <p class="card-text" style="text-align: justify; height: 10rem;">{{prod.descripcion}}</p>
              <h6 class="card-subtitle mb-2 text-muted" style="height: 2rem;">Cantidad Disponible: {{prod.cantidad}}</h6>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
  