{% extends "baseAdmin.html" %}
{% load static %}
{% block content %}
<div class="flex h-full">
    <!-- lado izquierdo -->
    <div class="w-1/4 px-4 py-2 bg-gray-200 dark:bg-gray-700 flex flex-col justify-center items-center">
        <form class="flex items-center space-x-4 mb-4" method="POST" enctype="multipart/form-data" action="/cargaxml/">
            {% csrf_token %}
            <label for="file" class="px-3 py-2 bg-gray-200 text-gray-700 rounded-lg cursor-pointer hover:bg-gray-300 transition duration-150 ease-in-out">
                Seleccionar Archivo
            </label>
            <input type="file" id="file" name="file" accept="text/xml" class="hidden">
            <button type="submit" class="btn-blue">
                <span class="mr-2">
                    <i class="fas fa-file"></i>
                </span>
                Mostrar
            </button>
        </form>

        <form method="POST" enctype="multipart/form-data" action="/xmlusuarios/">
            {% csrf_token %}
            <button class="btn-blue w-full">Cargar Usuarios</button>
        </form>

        <form method="POST" enctype="multipart/form-data" action="/xmlproductos/">
            {% csrf_token %}
            <button class="btn-green mt-2 w-full">Cargar Productos</button>
        </form>

        <form method="POST" enctype="multipart/form-data" action="/xmlempleados/">
            {% csrf_token %}
            <button class="btn-yellow mt-2 w-full">Cargar Empleados</button>
        </form>

        <form method="POST" enctype="multipart/form-data" action="/xmlactividades/">
            {% csrf_token %}
            <button class="btn-yellow mt-2 w-full">Cargar Actividades</button>
        </form>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <button>Limpiar Vista Previa</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                <p class="
                    {% if message.tags == 'success' %}
                        bg-green-500 text-white
                    {% elif message.tags == 'error' %}
                        bg-red-500 text-white
                    {% endif %}
                    px-3 py-2 rounded-lg mb-2
                ">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
    </div>

    <!-- lado derecho -->
    <div class="w-3/4 mx-4 flex flex-col">
        <h1 >Vista Previa</h1>
        {% if contenido_archivo %}
            <textarea  readonly>{{contenido_archivo}}</textarea>
        {% else %}
            <textarea readonly></textarea>
        {% endif %}
    </div>
</div>
{% endblock %}
