{% extends "baseUser.html" %}
{% load static %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <div class="img-container">
            <img src="{% static 'images/trolley.png' %}" alt="Codigo de barras" class="img-fluid mx-auto d-block">
        </div>
        <h1 class="jumbotron-heading">IPCmarket</h1>
        <p class="lead text-muted">-Realiza tus compras en línea-</p>
    </div>
</section>
{% if messages %}
<div class="w-100 mt-4">
    {% for message in messages %}
        <p class="alert 
            {% if message.tags == 'success' %}
                alert-success
            {% elif message.tags == 'error' %}
                alert-danger
            {% endif %}
        ">
            {{ message }}
        </p>
    {% endfor %}
</div>
{% endif %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for prod in productos %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow" style="width: 23rem;">
                    <img class="card-img-top" style="width: 23rem; height: 20rem;" src="{{ prod.imagen }}" alt="{{ prod.nombre }}">
                    <div class="card-body" style="height: 30rem;">
                        <h6 class="card-subtitle mb-2 text-muted" style="height: 1rem;">{{ prod.id }}</h6>
                        <h5 class="card-title">{{ prod.nombre }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="height: 2rem;">Q.{{ prod.precio }}</h6>
                        <p class="card-text" style="text-align: justify; height: 10rem;">{{ prod.descripcion }}</p>
                        <h6 class="card-subtitle mb-2 text-muted" style="height: 2rem;">Cantidad Disponible: {{ prod.cantidad }}</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <form method="POST" enctype="multipart/form-data" action="/añadirCarrito/" class="w-100">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ prod.id }}">
                                <input type="hidden" name="user_id" value="{{ request.COOKIES.id_user }}">
                                <div class="input-group mb-3">
                                    <input type="number" name="cantidad" value="1" min="1" max="{{ prod.cantidad }}" class="form-control">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-dark">Comprar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
